<div id="main">
<div class="container" align="center">
    <br>
    <form class="form-signin" id="submitTicket"(ngSubmit)="submitTicket()">
      <div class="text-center mb-4">
        <h3>Submit Ticket</h3>
      </div>
      <div class="form-label-group">
        <input id="inputAmount" class="form-control" type="number" name="amount" step="0.01" [min]="0"
               [(ngModel)]="ticket.amount" placeholder="Requested Amount" required>
      </div>
      <br>
      <div class="form-label-group">
        <input id="inputDesc" class="form-control" type="text" name="desc"
               [(ngModel)]="ticket.desc" placeholder="Description" required>
      </div>
      <br>
      <div class="form-label-group">
        <label for="inputType">Type:</label>
        <select id="inputType" class="custom-select d-block w-100 form-control" name="typeList"
                [(ngModel)]="ticket.type" form="submitTicket" required>
          <option value disabled hidden selected>Type of Request</option>
          <option value=1>Food</option>
          <option value=2>Travel</option>
          <option value=3>Lodging</option>
          <option value=0>Other</option>
        </select>
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <br>
  </div>
</div>
